.DS_Store
__pycache__

block_ocr_res
evaluation/log

evaluation/bleurt/BLEURT-20/variables/variables.data-00000-of-00001
parseq_with_space.ckpt
parseq/parseq/trained_with_space/parseq/2023-09-18_17-02-35/checkpoints/last.ckpt
parseq/parseq/trained_with_space/parseq/2023-09-18_17-02-35/checkpoints/epoch=18-step=158676-val_accuracy=91.5093-val_NED=97.0111.ckpt
parseq/parseq/trained_with_space/parseq/2023-09-18_17-02-35/checkpoints/epoch=18-step=156676-val_accuracy=91.5489-val_NED=97.0728.ckpt
parseq/parseq/trained_with_space/parseq/2023-09-18_17-02-35/checkpoints/epoch=18-step=155676-val_accuracy=91.4829-val_NED=96.9994.ckpt
parseq/parseq/parseq_with_space.ckpt
unified_detector/vision-unified_detector-unified_detector_ckpt/ckpt.data-00000-of-00001
unified_detector/vision-unified_detector-unified_detector_ckpt.tar
evaluation/sensible_order_validation.json
evaluation/res_unordered_gpt_space_insertion/predictions.json
evaluation/res_geometrical_gpt_space_insertion/predictions.json
evaluation/res_function_prompt_gpt_space_insertion/predictions.json
evaluation/res_function_prompt/predictions.json
evaluation/res_unordered/predictions.json
evaluation/res_geometrical/predictions.json
evaluation/res_windowed_and_token_cutoff/predictions.json
